env
**/__pycache__
.eggs
.ipynb_checkpoints
.tox

BioDendro.egg-info/
.pytest_cache

*.png
*.xlsx
*params.txt
*.txt
*.html
*.ipynb
*.mgf

!Fireflies_MSMS.mgf
!longer-workflow.ipynb
!quick-start-example.ipynb
!Fireflies_feature_list.txt
!images/banner.png
