env/**
dist/**
build/**

**/__pycache__
.ipynb_checkpoints
.tox
.cache
.mypy_cache
.pytest_cache

*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.eggs/**

conda-build/build

*.png
*.xlsx
*params.txt
*.txt
*.html
*.ipynb
*.mgf

!Fireflies_MSMS.mgf
!longer-workflow.ipynb
!quick-start-example.ipynb
!Fireflies_feature_list.txt
!images/banner.png
